@import "../../common/color.scss";

.movie-wrapper {
    margin: 2rem;
}

.movie-list,
.show-list{
    margin: 20px 0;
    h2{
        color: $font-secondary-color;
        margin-bottom: 10px;
        margin-left: 1rem;
        font-weight: 400;
    }
}

.slick-list{
    height: 540px;
    // background-color: #ffffff19;
    padding-top: 20px;
}

.notAvailable {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}