@import "../../common/color.scss";

.movie-wrapper {
    margin-inline: 2rem;
}

.movie-list{
    margin: 20px 0;
    h2{
        color: $font-secondary-color;
        margin-bottom: 10px;
        font-weight: 400;
    }
}

.movie-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}