@import "../../common/color.scss";

.footer{
    background: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary-color;
    flex-direction: column;

    //if you want to keep a fixed bottom footer : 
    // position:fixed;
    // left:0px;
    // bottom:0px;
    // width:100%;
}