$primary-color: #0f171e;
$secondary-color: #1a242f;
$font-primary-color: #fff;
$font-secondary-color: #79b8f3;

// $primary-color: #1b1a1a;
// $secondary-color: #fb4747;
// $font-primary-color: #fff;
// $font-secondary-color: #999999;

// $primary-color: #545e75;
// $secondary-color: #63adf2;
// $font-primary-color: #fff;
// $font-secondary-color: #000539;

// $primary-color: #376b8d;
// $secondary-color: #c7f9cc;
// $font-primary-color: #000000;
// $font-secondary-color: #80ed99;